/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('fonts/ballpark.eot');
    src: url('fonts/ballpark.eot?#iefix') format('embedded-opentype'),
         url('fonts/ballpark.woff') format('woff'),
         url('fonts/ballpark.ttf') format('truetype'),
         url('fonts/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('fonts/dayrom.eot');
    src: url('fonts/dayrom.eot?#iefix') format('embedded-opentype'),
         url('fonts/dayrom.woff') format('woff'),
         url('fonts/dayrom.ttf') format('truetype'),
         url('fonts/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* Mise en page du header */

h1 {
    font-family: 'BallparkWeiner';
    color:black;
}

h2 {
    text-transform: uppercase;
    color: grey;
}

header {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
}

nav ul {
    border: 1px red solid;
    justify-content: space-evenly;
    list-style-type: none; /* Suppression des puces */
    display: inline; /* Menu sous forme de ligne */
}

nav ul li{
    display: inline; /* Menu sous forme de ligne */
}



/* Mise en page du body */

body {
    background-image: url(img/fond_jaune.png);
    font-family: 'Dayrom';
    font-size: large;
}

#en-tete {
    border-radius: 5px;
}



figure {
    width: 100%;
}

#sanfrancisco {
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    text-align: center;
    width: 100%;
}

figcaption {
    width: 100%;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:7px;
    color: white;
    position: relative;
    vertical-align: middle;
}

#bouton {
    float: right;
    color: white;

}



/* Mise en forme de l'article */

article h2 {
    display: inline-block;
    vertical-align: top;
}

article {
    display: inline-block;
    width: 60%;
    margin-left: 6%;
}

article p {
    text-align: justify;
}



/* Mise en forme des liens */

a {
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color:brown;
    text-decoration: underline;
}

#active {
    color: brown;
    text-decoration: underline;
}



#separateur {
    background-image: url('img/separateur.png');
    height: 3px;
    width: 100%;
    text-align: center;
}



/* Bloc section */

section {
    display: flex;
}

#epingle {
    margin-top: 10px; 
}



/* Aside */

#a-propos {
    display: flex;
    position: relative;
}

aside {
    background-color:grey;
    width: 260px; /* Largeur du bloc */
    padding: 7px; /* Bordure interne */
    margin: 20px; /* Bordure externe */
    border-radius: 5px; /* Bords arrondis */
    text-align: justify;
    color: ivory;
    float: right;
    margin-right: 6%;
    font-size: 90%;
}

#bulle {
    position: absolute;
    left: 0.7rem;
    top: 11rem;
}

#photo-identite {
    text-align:center;
}

#reseaux {
    display: flex;
    justify-content: space-around; 
}



/* Footer */

footer {
    display: flex;
    justify-content: space-evenly;
}

#tweet {
    width: 300px;
    color: grey;
}

#photos {
    width: 300px;
}

#amis {
    color:brown;
    list-style-image: url('img/ico_liensexterne.png');
    width: 330px;
}

#liste-amis {
    display: flex;
    justify-content: space-between;
}